<a href="https://colab.research.google.com/github/leioscx/Ejemplos_Transformaciones_y_Acciones/blob/main/ejemplos_trasnformaciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pyspark import SparkContext

# Inicia el contexto Spark
sc = SparkContext("local", "Ejemplo_RDD")

In [ ]:
# Ejemplo map y filter

# Crear el RDD de ejemplo
rdd = sc.parallelize([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

# Filtrar los números pares y calcular su cuadrado
resultado = rdd.filter(lambda x: x % 2 == 0).map(lambda x: x ** 2)

# Resultado: [4, 16, 36, 64, 100]
print(resultado.collect())

[4, 16, 36, 64, 100]

In [ ]:
# Ejemplo flatMap y distintc

# Crear el RDD de frases
rdd = sc.parallelize(["hola mundo", "hola Spark", "mundo de Big Data"])

# Usar flatMap para dividir en palabras y luego distinct para obtener únicas
resultado = rdd.flatMap(lambda x: x.split(" ")).distinct()

# Resultado: ['hola', 'mundo', 'Spark', 'de', 'Big', 'Data']
print(resultado.collect())

['hola', 'mundo', 'Spark', 'de', 'Big', 'Data']

In [ ]:
# Ejemplo union y intersection

# Crear dos RDDs de nombres
rdd1 = sc.parallelize(["Juan", "Ana", "Carlos", "Miguel"])
rdd2 = sc.parallelize(["Carlos", "Ana", "Maria", "Sofia"])

# Union de ambos RDDs
union_resultado = rdd1.union(rdd2)

# Intersección de ambos RDDs
interseccion_resultado = rdd1.intersection(rdd2)

# Resultado de la unión: ['Juan', 'Ana', 'Carlos', 'Miguel', 'Carlos', 'Ana', 'Maria', 'Sofia']
# Resultado de la intersección: ['Carlos', 'Ana']
print("Unión:", union_resultado.collect())
print("Intersección:", interseccion_resultado.collect())

Unión: ['Juan', 'Ana', 'Carlos', 'Miguel', 'Carlos', 'Ana', 'Maria', 'Sofia']
Intersección: ['Carlos', 'Ana']

In [ ]:
# Ejemplo filter, map y distinc

# Crear el RDD de productos (nombre, precio)
rdd = sc.parallelize([("ProductoA", 150), ("ProductoB", 90), ("ProductoA", 200), ("ProductoC", 120), ("ProductoB", 130)])

# Filtrar productos con precio > 100, extraer el nombre y eliminar duplicados
resultado = rdd.filter(lambda x: x[1] > 100).map(lambda x: x[0]).distinct()

# Resultado: ['ProductoA', 'ProductoC', 'ProductoB']
print(resultado.collect())

['ProductoA', 'ProductoC', 'ProductoB']